# Integration tokens

CODECLIMATE_REPO_TOKEN='example'
SENDGRID_EMAIL='example@example.io'
SENDGRID_PASSWORD='example'

# Event info

SAVE_THE_DATE_VENUE_NAME='example venue name'
SAVE_THE_DATE_VENUE_ADDRESS='example venue address'
SAVE_THE_DATE_START_TIME='1999-12-31 23:59:00'
SAVE_THE_DATE_END_TIME='1999-12-31 23:59:00'

ENGAGEMENT_PARTY_VENUE_NAME='example venue name'
ENGAGEMENT_PARTY_VENUE_ADDRESS='example venue address'
ENGAGEMENT_PARTY_START_TIME='1999-12-31 23:59:00'
ENGAGEMENT_PARTY_END_TIME='1999-12-31 23:59:00'

BACHELORETTE_PARTY_VENUE_NAME='example venue name'
BACHELORETTE_PARTY_VENUE_ADDRESS='example venue address'
BACHELORETTE_PARTY_START_TIME='1999-12-31 23:59:00'
BACHELORETTE_PARTY_END_TIME='1999-12-31 23:59:00'

BACHELOR_PARTY_VENUE_NAME='example venue name'
BACHELOR_PARTY_VENUE_ADDRESS='example venue address'
BACHELOR_PARTY_START_TIME='1999-12-31 23:59:00'
BACHELOR_PARTY_END_TIME='1999-12-31 23:59:00'

REHEARSAL_DINNER_VENUE_NAME='example venue name'
REHEARSAL_DINNER_VENUE_ADDRESS='example venue address'
REHEARSAL_DINNER_START_TIME='1999-12-31 23:59:00'
REHEARSAL_DINNER_END_TIME='1999-12-31 23:59:00'

CEREMONY_VENUE_NAME='example venue name'
CEREMONY_VENUE_ADDRESS='example venue address'
CEREMONY_START_TIME='1999-12-31 23:59:00'
CEREMONY_END_TIME='1999-12-31 23:59:00'

RECEPTION_VENUE_NAME='example venue name'
RECEPTION_VENUE_ADDRESS='example venue address'
RECEPTION_START_TIME='1999-12-31 23:59:00'
RECEPTION_END_TIME='1999-12-31 23:59:00'

AFTER_PARTY_VENUE_NAME='example venue name'
AFTER_PARTY_VENUE_ADDRESS='example venue address'
AFTER_PARTY_START_TIME='1999-12-31 23:59:00'
AFTER_PARTY_END_TIME='1999-12-31 23:59:00'
