- default_description = 'KC and Kate are getting married. You\'re invited.'

// Facebook
meta(property='og:site_name' content="KC and Kate - Your Best Friends' Wedding")
meta(property='og:image:width' content='1200')
meta(property='og:image:height' content='630')
meta(property='og:image:type' content='image/png')
meta(property='og:title' content="#{yield(:title)}")
meta(property='og:description' content="#{default_description}")
meta(property='og:url' content="#{request.original_url}")

// Twitter
meta(name='twitter:card' content='summary_large_image')
meta(property='twitter:title' content="#{yield(:title)}")
meta(property='twitter:description' content="#{default_description}")
meta(name='twitter:site' content='@kttravers')
meta(name='twitter:creator' content='@kttravers')
meta(name='twitter:image:width' content='1200')
meta(name='twitter:image:height' content='630')

// Other, just in cases
meta(name='description' content="#{default_description}")

// TODO: add image
meta(property='og:image' content='')
meta(name='twitter:image' content='')
link(rel='image_src' href='')

= yield(:application_head_social)
