/*
 * Object: Button & Input Unit
 * Combines a button with an associated input
 */


/*
 * Overall Rules
 */

.button-input-unit {
  position: relative;
  overflow: hidden;
  top: 1px; // hackfix for rendering in Chrome
}


/*
 * Local Descendants
 */

.button-input-unit__button {
  @extend .button;
  padding: ($content-spacing / 4);
  text-align: center;
}

// Inputs and buttons have special styles we want to override
input.button-input-unit__button,
button.button-input-unit__button {
  padding: ($content-spacing / 4);
}

.button-input-unit__input {
  @extend .input;
}


/*
 * Contextual Styles
 */

// At larger breakpoints, button attached to right side of input

@media (min-width: $breakpoint-small + 1) {
  .button-input-unit {
    padding-right: ($content-spacing * 10);
  }

  .button-input-unit__button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: ($content-spacing * 10);
  }

  .button-input-unit__input {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

// At smaller breakpoints, button attached below input

@media (max-width: $breakpoint-small) {
  .button-input-unit__button {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .button-input-unit__input {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
