/*
 * Object: Input
 * Should be applied to input, select, and textarea elements.
 */


/*
 * Overall Rules
 */

.input {
  @extend .border-box;
  @extend .heading--level-7;
  @extend .heading--weight-lighter;
  outline: none;
  border: 1px solid $grey;
  border-radius: $content-spacing / 4;
  padding:
    ($content-spacing - 1) 0 ($content-spacing) ($content-spacing);
  font-family: inherit;
  text-transform: none;
  width: 100%;

  @media (max-width: $breakpoint-medium) {
    // Hard coding font size bc can't @extend inside media query
    // @extend .heading--level-8;
    font-size: 22px;
  }
}


/*
 * Extensions
 */

// Radio Group
// Radio + label unit
//
// Sample markup:
// .radio-group.radio-group--inline
//   input.radio-group__input type='radio' name='group' id='input1'
//   label.radio-group__label for='input1' Yes
// .radio-group.radio-group--inline
//   input.radio-group__input type='radio' name='group' id='input2'
//   label.radio-group__label for='input2' No

$radio-icon-width: ($content-spacing * 4);

.radio-group {
  position: relative;
  display: inline-block;

  input[type='radio'].radio-group__input,
  input[type='radio'].radio-group__input + .radio-group__label:before {
    position: absolute;
    left: 0;
    width: $radio-icon-width;
    height: $radio-icon-width;
    cursor: pointer;
  }

  input[type='radio'].radio-group__input {
    opacity: 0;
    z-index: 1;
  }

  input[type='radio'].radio-group__input + .radio-group__label {
    padding-left: ($content-spacing * 5);
    line-height: $radio-icon-width;
  }

  input[type='radio'].radio-group__input + .radio-group__label:before {
    @extend .border-box;
    content: '';
    border: ($content-spacing / 4) solid $grey-dark;
    border-radius: ($content-spacing / 4);
  }

  input[type='radio'].radio-group__input:checked + .radio-group__label:before {
    background: $blue url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 16.9' width='32' height='48'><path fill='" + $white + "' d='M8.5,16.9c-0.4,0-0.7-0.1-1-0.4L0.4,9.4c-0.5-0.5-0.5-1.4,0-2s1.4-0.5,2,0l6.1,6.1L21.6,0.4c0.5-0.5,1.4-0.5,2,0 c0.5,0.5,0.5,1.4,0,2L9.5,16.5C9.2,16.8,8.9,16.9,8.5,16.9C8.5,16.9,8.5,16.9,8.5,16.9z'/></svg>") center center no-repeat;
  }
}
