/*
 * Site Footer
 */

section.site-footer {
  @extend .border-box;
  min-height: 5vh;
  position: relative;
  padding: $content-spacing / 2;
}


/*
 * Contextual Styles
 */

// Admin
// Remove background

body.body--admin { color: $grey-dark; }

// Menu State

body[data-menu-state='open'] {
  section.site-footer { width: 60%; }
}

@media (max-width: $breakpoint-small) {
  body[data-menu-state='open'] {
    section.site-footer { width: 100%; }
  }
}

@media (max-width: $breakpoint-mobile) {
  section.site-footer { min-height: 20vh; }
}
