/*
 * Site Menu
 * Hidden on initial page load.
 * Slides out from right when trigger is clicked.
 * Fixed with vertical scroll enabled.
 */


section.site-menu {
  background: $purple-darker;
  overflow-y: auto;
  position: fixed;
  height: 100vh;
  bottom: 0;
  right: 0;
  width: 0;
  top: 0;
  @extend .util--z-index-1;
  @include slide-bounce(all);
}


/*
 * Local Descendants
 */

.site-menu__inner {
  padding: 0 0 ($content-spacing * 2) ($content-spacing * 1.5);
}


/*
 * Contextual Styles
 */

body.body--admin {
  section.site-menu {
    background: $grey-light;
  }
}

body[data-menu-state='open'] {
  section.site-menu { width: 40%; }
}

@media (max-width: $breakpoint-small) {
  body[data-menu-state='open'] {
    section.site-menu { width: 100%; }
  }
}
