/*
 * Site Footer
 */

section.site-footer {
  @extend .border-box;
  position: relative;
  min-height: 5vh;
  padding: $content-spacing / 2;
}


/*
 * Contextual Styles
 */

body[data-menu-state='open'] {
  section.site-footer { width: 60%; }
}

@media (max-width: $breakpoint-small) {
  body[data-menu-state='open'] {
    section.site-footer { width: 100%; }
  }
}
