/*
 * Site Main
 */

section.site-main {
  width: 100%;
  min-height: 90vh;
  @include slide-bounce(width);
}


/*
 * Contextual Styles
 */

body[data-menu-state='open'] {
  section.site-main { width: 60%; }
}

@media (max-width: $breakpoint-small) {
  body[data-menu-state='open'] {
    section.site-main { width: 100%; }
  }
}
