/*
 * Site Modal
 * Applies semi-opaque overlay to page and centers content horizontally.
 * https://codepen.io/imprakash/pen/GgNMXO
 */


/*
 * Overall Rules
 */

.site-modal {}


/*
 * Local Descendants
 */

// Apply to link element with href set to
// local anchor tag on .site-modal__overlay
.site-modal__trigger {
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.site-modal__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  width: 100%;
  transition: opacity 500ms;
}

.site-modal__overlay:target {
  visibility: visible;
  opacity: 1;
}

.site-modal__overlay__inner {
  position: relative;
  margin: ($content-spacing * 5) auto;
  width: 60%;
}

// Apply to link element with href set to '#'
.site-modal__overlay__dismiss {
  @extend .heading--level-7;
  @extend .link--color-inherit;
  position: absolute;
  top: $content-spacing;
  right: ($content-spacing * 2);
  text-decoration: none;
  transition: all 200ms;
}


/*
 * Contextual Styles
 */

@media screen and (max-width: $breakpoint-medium) {
  .site-modal__overlay__inner {
    width: 90%;
    margin: ($content-spacing * 6) auto;
  }
}
