/*
 * Site Main
 */

section.site-main {
  padding-top: $content-spacing;
  position: relative;
  min-height: 95vh;
  width: 100%;
  @extend .border-box;
  @include slide-bounce(width);
}


/*
 * Contextual Styles
 */

body[data-menu-state='open'] {
  section.site-main { width: 60%; }
}

@media (max-width: $breakpoint-small) {
  body[data-menu-state='open'] {
    section.site-main { width: 100%; }
  }
}
