/*
 * Container: Module
 * Modules are the prototypical container. They are in charge of spacing, background, and borders for boxes on the site. They rarely should affect any styles of their children. Modules do nothing on their own and are purely containers for other objects or containers.
 * Modules contain three kinds of child element: mod__head, mod__body, and mod__foot. Some module types allow multiple of any one child container, to achieve certain effects.
 */


/*
 * Overall Rules
 */

.module {
  // Modules are meant to sit within the grid around other mods. Therefore, when
  // two are adjacent, they will create a space of exactly $content-spacing between them.
  margin: ($content-spacing / 2);
}


/*
 * Local Descendants
 */

.module__head, .module__body, .module__foot {
  @extend .clearfix;
}

.module__head:last-child, .module__body:last-child, .module__foot:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.module__head {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}


/*
 * Extensions
 */

// Layer Cake
// Handles large spacing between head, body, and foot
.module--layer-cake {
  padding: ($content-spacing / 2);

  .module__body, .module__foot { padding-top: $content-spacing; }

  @media (min-width: $breakpoint-small) {
    .module__body, .module__foot { padding-top: $content-spacing * 1.5; }
  }
}

// Double Stuff
// Handles extra large spacing between head, body, and foot
.module--double-stuff {
  padding: ($content-spacing);

  .module__body, .module__foot { padding-top: $content-spacing * 4; }

  @media (min-width: $breakpoint-small) {
    .module__body, .module__foot { padding-top: $content-spacing * 8; }
  }
}

// Lilypad module
// Good for separating content from the background

.module--lilypad {
  @extend .heading--color-grey-dark;
  background: $white;
  border-radius: ($content-spacing / 4);

  .module__head, .module__body, .module__foot {
    padding: ($content-spacing * 1.25) ($content-spacing * 1.5);
  }

  @media (max-width: $breakpoint-medium) {
    .module__head, .module__body, .module__foot {
      padding: ($content-spacing * 0.75) ($content-spacing * 1);
    }
  }
}


// Clicker module
// Module will full width button in foot

.module--clicker {
  @extend .heading--color-grey-dark;
  background: $white;
  border-radius: ($content-spacing / 4);
  border: ($content-spacing / 4) solid $grey-dark;

  .module__head, .module__body {
    padding-top: ($content-spacing * 2.5);
    padding-left: ($content-spacing * 1.5);
    padding-right: ($content-spacing * 1.5);
  }

  .module__body {
    padding-bottom: ($content-spacing * 2.5);
  }

  .module__foot {
    border-top: ($content-spacing / 4) solid $grey-dark;
  }

  .module--clicker__clicker {
    border: none;
  }

  @media (max-width: $breakpoint-medium) {
    .module__head, .module__body {
      padding: ($content-spacing * 1.5) ($content-spacing * 0.75);
    }
  }
}


/*
 * Options
 */

// Flush
// Removes margins

.module--flush { margin: 0; }
