/*
 * Key sizes
 */

$content-spacing: 16px;


/*
 * Responsive Breakpoints
 * SCSS is not great at allowing string variables in media queries (they have to be interpolated), so we are sticking with a simple px variable for each breakpoint. Please apply breakpoints with the following format:
 * @media only screen and (min-width: $breakpoint-x) { ... }
 */

$breakpoint-mobile: 400px;
$breakpoint-small: 640px;
$breakpoint-medium: 800px;
$breakpoint-large: 1080px;

/*
 * Colors
 */

$white: #ffffff;

$blue: #00BCE1;
$blue-dark: darken($blue, 5%); // #00a7c8

$red: #FF5B5B;
$red-dark: darken($red, 10%);  // #ff2828

$grey: #7d7d7d;
$grey-dark: #3a3a3a;
